.button {
  margin: 0;
  border: 2px solid transparent;
  border-radius: 0;
  display: inline-block;
  text-transform: none;
  text-align: center;
  text-decoration: none;
  -webkit-appearance: none;
  appearance: none;

}

.button:hover {
  text-decoration: none;
}

.button-primary {
  width: 100%;
  padding: 13px 0px;
  font-size: 16px;
  background-color: #FF0032;
  color: white;
  border-radius: 133px;
  margin-top: 45px;
  S
}

.button-primary:hover {
  background-color: #b40023;
  color: #cecece;
}



@media (min-width: 480px) {
  .button-primary {
    width: 272px;
  }

}

@media (min-width: 960px) {
  .button-primary {
    padding: 16px 0;
  }

}
