.card {
  background-color: white;
  border-radius: 34px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.card-shadow .card {
  -webkit-box-shadow: 4px 4px 46px rgba(10, 34, 67, 0.07);
  box-shadow: 4px 4px 46px rgba(10, 34, 67, 0.07);
}

.card-padding {
  padding: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
}

.card-title {
  margin-top: 13px;
  margin-bottom: 8px;
}

.reviews-counter {
  font-size: 13px;
  line-height: 15px;
  color: #888EA0;
  text-align: left;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.card-description {
  margin: 10px 0;
}


.card-image > img {
  max-height: 40vh;
}

.person-photo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}


.card .grid {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.card-reviews {
  padding: 22px;
}

.card-reviews .grid {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.card .stars {
  line-height: 0;
}

.card .stars img {
  width: 14px;
  height: 14px;
  display: inline-block;
}

.card-cost {
  font-size: 30px;
}

.card-duration {
  color: #888EA0;
  font-size: 13px;
  line-height: 15px;
}

.card-cost {
  font-size: 30px;
  line-height: 36px;
  color: #373F55;
  font-weight: 600;
}

.card-reviews .person-photo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.person-name {
  color: black;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
}

.person-from {
  color: #888EA0;
  font-size: 13px;
  line-height: 18px;
}

.max-8 {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.max-8 > .grid-item:nth-child(n+3) {
  display: none;
}



@media (min-width: 480px) {}

@media (min-width: 640px) {
  .max-8 .grid-item:nth-child(n+7) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}


@media (min-width: 960px) {
  .card {
    text-align: left;
  }

  .max-8 .grid-item:nth-child(n+5) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }




}

@media (min-width: 1200px) {
  .card-reviews .grid {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .section .max-8 .grid-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.card-link {
  text-align: right;
  font-size: 14px;
  font-weight: bold;
  color: #0F2D47;
  text-decoration: underline;
}
