.card {
  background-color: white;
  box-shadow: 4px 4px 46px rgba(10, 34, 67, 0.07);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card-padding {
  padding: 20px;
flex-grow: 1;
  display: flex;
 flex-direction: column;
  justify-content: space-between;
}

.card-title {}

.card-description {
  margin: 20px 0;
}


.card-image > img {
  max-height: 40vh;
}

.card-duration {}

.card .grid {
  justify-content: space-between;
}

.card-reviews .grid{
  justify-content: space-around;
}

.card .stars img {
  width: 16px;
  height: 16px;
  display: inline-block;

}

.card-cost,
.card-duration {
  font-size: 20px;
}

.card-duration {
  color: #888EA0;
  font-size: 13px;
  line-height: 15px;
}

.card-cost {
  height: 50px;
  font-size: 30px;
  line-height: 36px;
  color: #373F55;
  font-weight: 600;
}

.max-4 , .max-8{
  align-items: stretch;
}

  .max-4 >.grid-item:nth-child(n+2){
display: none;
}

  .max-8 >.grid-item:nth-child(n+3){
display: none;
}



@media (min-width: 480px) {

}

@media (min-width: 640px) {
  
    .max-4 .grid-item:nth-child(n+4){
display: flex;
}   
  .max-8 .grid-item:nth-child(n+7){
display: flex;
}
  
}


@media (min-width: 960px) {
  .max-4 .grid-item:nth-child(n+3){
display: flex;
}
    .max-8 .grid-item:nth-child(n+5){
display: flex;
}
  
  
  

}

@media (min-width: 1200px) {
  .section .max-4 .grid-item{
display: flex;
}
   .section .max-8 .grid-item{
display: flex;
}
}

  

