.form {}

.form-group {
  margin-bottom: 40px;
}

.form-control {
  position: relative;
  margin-bottom: 10px;
}

.input,
.select{
  max-width: 100%;
  width: 100%;
  height: 40px;
  padding: 0 20px;
  background-color: #F2F7FF;
  color: #373F55;
  border: 1px solid #e5e5e5;
  margin: 0;
  border-radius: 133px;
  font-size: inherit;
  font-weight: 600;
}

.input:focus,
.select:focus,
.textarea:focus {
  outline: none;
  background-color: #fff;
  color: #373F55;
  border-color: #1e87f0;
}

.input:disabled,
.select:disabled,
.textarea:disabled {
  background-color: #f8f8f8;
  color: #373F55;
  border-color: #e5e5e5;
}

.input::-webkit-input-placeholder {
  color: #373F55;
}

.input:-ms-input-placeholder {
  color: #373F55;
}

.input::placeholder {
  color: #373F55;
}


.input-danger,
.input-danger:focus {
  color: #f0506e;
  border-color: #f0506e;
}

.input-success,
.input-success:focus {
  color: #32d296;
  border-color: #32d296;
}

.form-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #373F55;
}

.form-icon:not(.form-icon-flip) ~ .input {
  padding-left: 40px !important;
}

.form-icon-flip {
  right: 0;
  left: auto;
}

.form-icon-flip ~ .input {
  padding-right: 40px !important;
}

.textarea {
  resize: none;
}

.select-description{
font-size: 14px;
  color: #888EA0;
   margin-bottom: 8px;
}

@media (min-width: 960px){
.select-description{
  text-align: left;
  margin-bottom: 15px;
  margin-left: 2px;
}
  }