.grid-wrapper {
  overflow: hidden;
}

.grid {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.grid-item {
  padding: 15px;
}

.grid-large {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -55px;
}

.grid-large .grid-item {
  padding: 0 55px;
}

.grid-min {
  margin: 0 -12px;
}

.grid-min .grid-item {
  padding: 0 10px;
}

.space-between{
  margin: 0;
  justify-content: space-between;
  padding: 0;
  
}
.space-between .grid-item{
  padding: 0;
}

.grid-17{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: -7px;
}

.grid-17 .grid-item{
padding: 7px;
}