.hero {
  background-image: url(../../images/bg_1.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  text-shadow: 0px 0px 1px black;
}

.hero-title {
font-weight: 900;
}

.hero-subtitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
}

@media (min-width: 640px) {
  .hero-title{
  	font-size: 90px;
    color: #FFFFFF;
    margin-bottom: 25px;
  }
  .hero-subtitle-container{
  	margin: 0 auto;
  	width: 550px;
  	margin-bottom: 30px;
  }
  .section.hero{
  	padding: 100px 0;
  }

@media (min-width: 960px) {
  .hero-title{
  	font-size: 90px;
  }
  .hero-subtitle-container{
  	margin: 0 auto;
  	width: 643px;
  	margin-bottom: 60px;
  }
  .section.hero{
  	padding: 189px 0;
  }
}