#menu__toggle {
  display: none;
}

#menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 36px;
  cursor: pointer;
  z-index: 100;
  background-color: rgba(209, 209, 209, 0.42);
  padding-left: 5px;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #000000;
  -webkit-transition-duration: .25s;
  transition-duration: .25s;
}

.menu__btn > span::before {
  content: '';
  top: -8px;
}

.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ffffff;
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  -webkit-transition-duration: .25s;
  transition-duration: .25s;
  z-index: 99;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-size: 20px;
  font-weight: 800;
  -webkit-transition-duration: .25s;
  transition-duration: .25s;
}

.menu__item:hover {
  background-color: #CFD8DC;
}

@media (min-width: 960px) {
  .menu__btn {
    display: none;
  }

  .menu__box {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    visibility: visible;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 15px 0 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .menu__item {
    font-size: 18px;
    padding: 12px;
  }
}
