.section {
  padding: 25px 0;
}

.section-title {
  margin:20px 0;
  font-size: 52px;
line-height: 64px;
text-align: center;
font-weight: 900;
color: #061E33;
}

.section-subtitle {}

.section-description {
 margin-top: 10px;
  font-size: 16px;
line-height: 22px;
color: #464649;
}

.section-search .grid-item{
 margin-top: 10px; 
}

.section-reviews {
  background: #F2F7FF;
}

.section-popular-tours {
  background: #F2F7FF;
}

@media (min-width: 960px){

.section-search{
  background-image: url(../../images/mountains.jpg);
}

.section-daily-tours{
  background-image: url(../../images/mountains2.jpg);
}

.section-daily-tours , .section-search{
  padding-bottom: 550px;
  background-origin:padding-box;
  background-position:bottom center;
  background-repeat: no-repeat;
}

  
}
@media (min-width: 960px){
  .section-title{
    margin-top: 65px;
    margin-bottom: 50px;
  }
  
}@media (min-width: 1440px){
  .section-daily-tours , .section-search {
     background-size: 100% 80%;
  }
}