.swiper-container {
  width: 100%;
  padding: 50px 0;
}

.swiper-container2 {
  width: 100%;
  padding: 10px 0;
  overflow: hidden;
  position: relative;
}

.swiper-buttons {
  width: 104px;
  height: 50px;
  position: relative;
  margin: 0 auto;
}

.swiper-button-next,
.swiper-button-prev, 
.swiper2-button-next,
.swiper2-button-prev {
  font-size: 10px;
  --swiper-navigation-size: 14px;
  background: white;
  border-radius: 50%;
  padding: 17px;
}

.swiper2-button-next{
  right: -33px;
}
.swiper2-button-prev{
  left: -33px;
  bottom: 0;
}
.swiper2-button-next, .swiper2-button-prev {
    position: absolute;
    top: 50%;
    width: calc(var(--swiper-navigation-size)/ 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(-1 * var(--swiper-navigation-size)/ 2);
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color,var(--swiper-theme-color));
}

.swiper2-button-next:after {
    content: 'next';
}

.swiper2-button-next:after, .swiper2-button-prev:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    text-transform: none!important;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
}

.swiper2-button-prev:after {
    content: 'prev';
}


@media (max-width: 1360px){
.swiper2-button-next{
 right: calc(50% - 80px);
   bottom:70px;
  top:auto;
}
.swiper2-button-prev{
  left: calc(50% - 80px);
   bottom:70px;
  top:auto;
}
  .swiper-container2{
  padding-bottom: 30px;
  }
  
}